.simple-select {
	position: relative;
	display: inline-block;
	width: 240px;
	height: 48px;
	&.is-active {
		.simple-select {
			&__main {
				svg {
					transform: scaleY(-1);
				}
			}
			&__drop {
				transform: scale(1);
				visibility: visible;
				opacity: 1;
			}
		}
	}
	&.error {
		.simple-select__main {
			border-color: $color-error;
		}
	}
	&__main {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		height: 100%;
		padding: 0 20px;
		background-color: #EDEDF5;
		color: $text-color;
		border: 1px solid #EDEDF5;
		border-radius: 2px;
		cursor: pointer;
		transition: border-color .2s linear;
		svg {
			flex-shrink: 0;
			width: 12px;
			height: 6px;
			transition: .25s linear;
			transition-property: transform;
			margin-left: 15px;
			fill: black;
		}
	}
	&__selected {
		white-space: nowrap;
		overflow: hidden;
		width: calc(100% - 26px);
		text-overflow: ellipsis;
		&:empty {
			&::before {
				content: attr(data-placeholder);
				font-size: inherit;
				font-family: inherit;
				line-height: inherit;
				//color: inherit;
				color: #333;
				font-weight: inherit;
			}
		}
	}
	&__drop {
		position: absolute;
		width: 100%;
		left: 0;
		top: 100%;
		transform: scale(.85);
		visibility: hidden;
		opacity: 0;
		transition: .2s linear;
		transition-property: transform, opacity, visibility;
		transform-origin: top center;
		font-size: 14px;
		line-height: 20px;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		background-color: #fff;
		z-index: 2;
		margin-bottom: 0;
	}
	&__drop-inner {
		max-height: 305px;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		-webkit-overflow-scrolling: touch;
		overflow: hidden auto;
		@extend %scrollbar;
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			overflow: auto;
		}
	}
	&__list {
		list-style: none;
		padding: 14px 10px;
	}
	&__item {
		padding: 6px 20px;
		transition: .25s linear;
		transition-property: background-color;
		cursor: pointer;
		border-radius: 4px;
		margin-bottom: 2px;
		&:last-child {
			margin-bottom: 0;
		}
		&.is-active {
			background-color: #EDEDF5;
		}
		&:hover, &:focus {
			background-color: #EDEDF5;
		}
		&.focus {
			background-color: #EDEDF5;
		}
	}

	&--list {
		height: auto;
		width: auto;
		.simple-select__main {
			display: none;
		}
		.simple-select__drop {
			position: relative;
			top: 0;
			opacity: 1;
			visibility: visible;
			box-shadow: none;
			transform: none;
		}
		.simple-select__drop-inner {
			max-height: none;
		}
		.simple-select__list {
			padding: 0;
		}
		.simple-select__item {
			display: flex;
			align-items: baseline;
			margin-bottom: 13px;
			color: rgba(grey, .5);
			padding: 0;
			background: none;
			@include transition(color);
			&:hover, &:focus {
				color: rgba(grey, 1);
			}
			&.is-active {
				color: red;
				//&:before {
				//	content: '';
				//	display: inline-block;
				//	font-size: 0;
				//	line-height: 1;
				//	width: 14px;
				//	height: 14px;
				//	background: url(../img/icons/arrow-r-selected.svg) center/contain no-repeat;
				//	margin-right: 14px;
				//	flex-shrink: 0;
				//}
			}
		}
	}

	&--inline {
		height: auto;
		width: auto;
		.simple-select__main {
			height: auto;
			width: auto;
			border: none;
			border-radius: 0;
			padding: 0;
			background: none;
			svg {
				width: 8px;
				height: 4px;
				margin-left: 12px;
			}
		}
		.simple-select__selected {
			width: auto;
		}
		.simple-select__drop {
			width: 200px;
			left: auto;
			right: 0;
		}
	}
	&--text-atr {
		width: auto;
		height: auto;
		font-weight: normal;
		font-size: 16px;
		line-height: 1.5;
		.simple-select {
			&__main {
				border: none;
				border-radius: 0;
				background: none;
				padding: 0 5px;
				svg {
					margin-left: 5px;
				}
			}
			&__selected {
				width: calc(100% - 16px);
				&::after {
					content: "";
					position: absolute;
					left: 5px;
					right: 21px;
					bottom: 1px;
					height: 1px;
					background-color: red;
				}
			}
			&__drop {
				width: auto;
				white-space: nowrap;
			}
		}
	}
}

@media (max-width: 900px) {
	.simple-select {
		&--list {
			font-size: 18px;
			line-height: 24px;
			max-width: 300px;
			width: 100%;
			height: 50px;
			.simple-select__main {
				display: flex;
			}
			.simple-select__drop {
				position: absolute;
				top: 100%;
				background-color: #fff;
				transform: scale(.85);
				visibility: hidden;
				opacity: 0;
			}
			.simple-select__list {
				padding: 14px 20px;
			}
		}
	}
}
@media (max-width: $mobile) {
	.simple-select {
		&--list {
			font-size: 16px;
		}
	}
}
@media (max-width: 420px) {
	.simple-select {
		&--list {
			max-width: none;
		}
	}
}