 @supports (-webkit-line-clamp: 6) {
 	.your-class {
 			display: -webkit-box;
 			white-space: normal;
 			text-overflow: ellipsis;
 			-webkit-box-orient: vertical;//
 			-webkit-line-clamp: 6;
 			overflow: hidden;
 	}
 }