.breadcrumbs {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-size: 14px;
  line-height: 20px;
  color: $gray-99;
  padding: 24px 0 32px;
  margin: 0;
  &__back {
    font-size: 12px;
    line-height: 15px;
    display: none;
    a {
      display: flex;
      align-items: center;
    }
    svg {
      width: 8px;
      height: 5px;
      fill: #727F8C;
      transform: rotate(90deg);
      margin-right: 12px;
    }
  }
  span {
    color: $gray-4d;
  }
  &__item {
    position: relative;
    display: flex;
    align-items: center;
    &::after {
      content: "";
      position: relative;
      width: 12px;
      height: 12px;
      background-image: url(../img/arr-r-4d.svg);
      display: block;
      margin: 0 16px;
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
  }
  &__link {
    @include link(n,$gray-99,rgba($blue,.3));
    &:hover {
      color: $blue;
    }
  }
}

@media (max-width: $mobile-big) {
  .breadcrumbs {
    padding: 12px 0 24px;
    &__back {
      display: flex;
    }
    &__item {
      display: none;
    }
  }
}