.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.apple-fix {
	width: 100%;
	position: fixed;
}

.no-scroll {
	overflow: hidden;
}

.img-wrapper {
	display: inline-block;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.clearfix {
	&::after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	overflow-x: hidden;
	position: relative;
	&.sticky {
		overflow: unset;
	}
	&.blur {
		filter: blur(2px);
	}
	.header {
		flex: 0 0 auto;
	}
	main {
		position: relative;
		flex: 1 0 auto;
	}
	.footer {
		flex: 0 0 auto;
	}
}

%scrollbar {
	//scrollbar-color: #000 #ccc;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	scrollbar-color: #a339a5 #ededf5;
	scrollbar-width: thin;
	&::-webkit-scrollbar {
		width: 2px;
		height: 2px;
		background-color: #ededf5;
	}
	&::-webkit-scrollbar-track {
		background-color: #ededf5;
	}
	&::-webkit-scrollbar-thumb:vertical {
		background-color: #a339a5;
	}
	&::-webkit-scrollbar-thumb:horizontal {
		background-color: #a339a5;
	}
}
