//--key=YOUR-API, заменить на свой
//--script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9t9POTuSyhJjSof_fXbcdIem_cPycSSk")
//-script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
//-script(src="https://yastatic.net/share2/share.js" async="async")
script(src="js/libs.min.js")
script(src="js/scripts.min.js")
//--script(src="js/rs.js")
script(src="js/pages-switcher.js")
//script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBPp6oUyj90-6DBApX4BgvYSfDzkNAx2g&callback=initMap" async defer)