.default-modal.modal-images
    .default-modal__content
        .default-modal__close(data-modal-close)
        .default-modal__inner
            .default-modal__title Аутентификация
            .default-modal__subtitle На указанный номер отправлено смс с кодом подтверждения регистрации – введите его в поле ниже
