.btn {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 56px;
  margin: 0;
  padding: 0;
  border: 2px solid cornflowerblue;
  border-radius: 17px;
  cursor: pointer;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  letter-spacing: .05em;
  color: cornflowerblue;
  z-index: 1;
  transition: .25s linear;
  transition-property: color, background-color, border-color;
  .btn-inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  &:hover {
    background-color: cornflowerblue;
    color: #fff;
  }
}