- var currentPage = "main";
doctype html
html(lang='ru')
    include ../blocks/head/head.pug
    body
        include ../blocks/mixin/mixins
        .wrapper
            include ../blocks/header/header

            main

            include ../blocks/footer/footer
            include ../img/svg/svg-sprite.html
        //-include ../blocks/snippets/modal/modal

        include ../blocks/footer/scripts