.i-modal.modal-images
    .i-modal__content
        .i-modal__close(data-modal-close)
        .i-modal__inner
            .i-modal__title Аутентификация
            .i-modal__subtitle На указанный номер отправлено смс с кодом подтверждения регистрации – введите его в поле ниже
