# editorconfig.org

# STANDART mode
# From: https://github.com/airbnb/javascript/blob/master/.editorconfig

root = true

[*]
quote_type = single
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf
# editorconfig-tools is unable to ignore longs strings or urls
max_line_length = off

[*.{js, pug, py}]
indent_size = 4

# [*.{json, md}]
# indent_size = 2

[*.min.*]
indent_style = ignore
trim_trailing_whitespace = false
insert_final_newline = ignore

[CHANGELOG.md]
indent_size = false
